<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/USUARIO1/Desktop/ProjetoSeleniumAlureReport/src/test/java/tests">
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="deveFazerLogin"/>
                    <include name="naoDeveLogar"/>
                </methods>
            </class>
            <class name="tests.LoginTests2">
                <methods>
                    <include name="deveFazerLogin2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>